<div class="menu-bar row">
  <div class="col-md-2"></div>
  <div class="col-md-5 horizontal-menu">
    <ul class="menu-list">
      <li class="menu-item">Home</li>
      <li class="menu-item">About</li>
      <li class="menu-item">Travel</li>
      <li class="menu-item">Eat</li>
      <li class="menu-item">Relax</li>
      <li class="menu-item">Video</li>
    </ul>
  </div>
  <div class="col-md-3 social-bar"> 
    <i class="fa fa-facebook-f"></i>
    <i class="fa fa-instagram"></i> 
  </div>
  <div class="col-md-2"></div>

</div>

<router-outlet></router-outlet>