<div class="menu-bar row">
  <div class="col-lg-2 col-sm-0"></div>
  <div class="col-lg-5 col-sm-8 horizontal-menu">
    <ul class="menu-list">
      <li class="menu-item" *ngFor="let item of menu" [routerLink]=[item.link]> {{item.title}} </li>
    </ul>
  </div>
  <div class="col-10 col-lg-3 col-sm-4 social-bar"> 
    <a href="https://www.facebook.com/vhgvip/"><i class="icon fa fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/vhg_v.i.p/"><i class="icon fa fa-instagram"></i> </a>
    <a href="https://www.pinterest.com/?autologin=true"><i class="icon fa fa-pinterest-p"></i></a>
    <a href="https://twitter.com/explore"><i class="icon fa fa-twitter"></i></a>
    <div routerLink="./upload"> <i class="icon fa fa-upload"></i></div>
   
  </div>
  <div class="bar-btn col-2">
    <i class="icon fa fa-bars" (click)="toggleMenu()"></i>
  </div>
  <div class="col-lg-2 col-sm-0"></div>

</div>

<div class="menu-mobile" [ngClass]="{'move': sideMenu}">
  <ul class="menu-list">
    <li class="menu-item" *ngFor="let item of menu" [ngClass]="{'active-mobile': item.isActive == true}"  > {{item.title}} </li>
  </ul>
</div>

<router-outlet></router-outlet>