$light-grey: #f1f4fc;
$black: rgba(0,0,0,1);

.container-fluid{
    font-family: inherit;
    margin-top: 100px;
    .post-container{
        border: solid 1px $light-grey;
        padding: 3rem 5rem;
        .user-box{
            display: flex;
            justify-content: space-between;
            .username-box{
                font-family: inherit;
                display: flex;
                align-items: center;
                .avatar{
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    margin-right: 1rem;
                    .avt{
                        object-fit: cover;
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                    }
                }
                .username{
                    display: flex;
                    p{
                        margin: 0;
                        margin-right: 0.75rem;
                    }
                    .fa-star{
                        transform: rotate(-100deg);
                    }
                }
                .date{
                    font-family: monospace;
                    margin: 0;
                    padding-left: 1rem;
                }
            }
        }

        .post{
            .title{
                margin-top: 3rem;
                font-family: serif;
            }
            .body-post{
                .update-time{
                    padding-top: 2rem;
                    font-family: inherit;
                    color: grey;
                }
                .image{
                    width: 100%;
                    img{
                        object-fit: cover;
                        width: 100%;
                        margin: 2rem 0;
                    }
                }
                .text{
                    text-align: justify;
                }
                .intro{
                    @extend .text;
                }
            }
            
            .interactive-container{
                color: rgba(0,0,0,1);;
                border-top: solid 1px $black;
                display: flex;
                justify-content: space-between;
                font-size: 0.75rem;
                padding-top: 1rem;
                .cmt-box{
                    display: flex;
                    .view{
                    margin-right: 1rem;
                    }
                    .write-cmt{
                    display: none;
                    }
                    .cmt{
                    display: none;
                    }
                    .show-cmt{
                    display: block;
                    }
                    .hide-cmt{
                    display: none;
                    }
                }
                .like-box{
                    display: flex;
                    color: red;
                    .count{
                    color: rgba(0,0,0,1);
                    margin-right: 0.75rem;
                    }
                    .fa{
                    padding-top: 3px;
                    }
                    .fa-heart{
                    display: block;
                    }
                    .likeActive{
                    display: none;
                    }
                }
                }
            
        }
    }

    .comment-container{
        border: solid 1px $light-grey;
        margin-top: 2rem;
        padding: 3rem 5rem;
        .user-box{
            display: flex;
            justify-content: space-between;
            .username-box{
                font-family: inherit;
                display: flex;
                align-items: center;
                .avatar{
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    margin-right: 1rem;
                    .avt{
                        object-fit: cover;
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                    }
                }
                .username{
                    display: flex;
                    p{
                        margin: 0;
                        margin-right: 0.75rem;
                    }
                    .fa-star{
                        transform: rotate(-100deg);
                    }
                }
            }
            
        }
        .comment{
            margin-top: 2rem;
            .cmt-input{
                width: 100%;
                border: none;
                -ms-overflow-style: none;
                &:focus{
                    outline: none;
                }
            }
            .cmt-input::-webkit-scrollbar {
                display: none;
            }
        }
        .send-btn {
            text-align: end;
        }
    }
}